# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.next.cache/

# Vercel
.vercel/

# Test / coverage
coverage/
*.lcov

# Env
.env
.env.*.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Others
*.tsbuildinfo
*.lock
